.descripcion_del_producto{
    max-width: 102rem;
    padding: 5rem;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.caja_general{
    width: 80%;
    height: auto;
    display: flex;
    flex-direction: row;    
    padding: 1rem;
}

.caja_1{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right:  1rem;
    width: 40%;
    object-fit: contain;
    padding-right: 3rem;
    padding-left: 1rem;
}
.img{
    height: 50%;
    width: 100%;

}


.caja_2{
    width: 60%;
    height: auto;
    padding: 1rem;
}

.titu{
    color: brown;
    font-size: 4rem;
}

.descrip{
    font-size: 1.8rem;
    font-weight: 400;
    padding-bottom: 1rem;
}

.herram{
    font-size: 1.5rem;
    padding-left: 1rem;
    padding-bottom: 1rem;
}

.precio{
    font-size: 2.5rem;
    font-weight: 800;
}

.one{
    width: 10rem;
    height: 5rem;
    border: 3px solid black;
    border-radius: 1rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
    margin-right: 2rem;
    font-weight: 800;
}

.one:hover{
    background-color: rgb(216, 199, 199);
    color: brown;
    transition: 0.3s;
    cursor: pointer;
}

.two{
    width: 10rem;
    height: 5rem;
    border: 3px solid black;
    border-radius: 1rem;
    font-weight: 800;
}

.two:hover{
    background-color: rgb(216, 199, 199);
    color: brown;
    transition: 0.3s;
    cursor: pointer;
}