.descripcion_del_producto{
    max-width: 130rem;
    padding: 5rem;
    margin: auto;
}

.caja_general{
    height: auto;
    display: flex;
    flex-direction: row;    
    padding: 1rem;
}

.caja_1{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right:  1rem;
    width: 40%;
    object-fit: contain;
    padding-right: 3rem;
    padding-left: 1rem;
}
.img{
    height: 70%;
    width: 80%;

}


.caja_2{
    width: 60%;
    height: auto;
    padding: 1rem;
}

.titu{
    color: brown;
    font-size: 4rem;
}

.descrip{
    font-size: 1.8rem;
    font-weight: 400;
    padding-bottom: 1rem;
}

.herram{
    font-size: 1.5rem;
    padding-left: 1rem;
    padding-bottom: 1rem;
}

.precio{
    font-size: 2.5rem;
    font-weight: 800;
}