.descripcion_del_producto{
    max-width: 130rem;
    padding: 5rem;
    margin: auto;
    background-color: rgb(255, 119, 0);
}

.caja_general{
    background-color: black;
    height: auto;
    display: flex;
    flex-direction: row;    
    padding: 1rem;
}

.caja_1{
    margin-right:  1rem;
    height: auto;
    width: 40%;
    background-color: rgb(25, 127, 216);
    object-fit: contain;
}

.caja_2{
    width: 60%;
    height: auto;
    background-color: aqua;
    padding: 1rem;
}

.titu{
    font-size: 2rem;
    background-color: aquamarine;
}

.descrip{
    font-size: 1.5rem;
}

.herram{
    font-size: 1rem;
}